:root {
    --black: #000000;
    --red: #FF0000;
    --orange: #FF8000;
    --yellow: #FFFF00;
    --green: #00FF00;
    --azure: #00FFFF;
    --all: linear-gradient(var(--azure), var(--green), var(--yellow), var(--orange), var(--red), var(--black));
}

* {
    /* outline: .1vw solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--all);
}

.orangeText {
    color: var(--orange);
}

.black {
    background: var(--black);
}

.red {
    background: var(--red);
}

.orange {
    background: var(--orange);
}

.green {
    background: var(--green);
}

.yellow {
    background: var(--yellow);
}

.azure {
    background: var(--azure);
}







header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--orange);
}

h1 {
    user-select: none;
    font-size: 4vh;
}

h2 {
    user-select: none;
    font-size: 3vh;
}



p {
    user-select: none;
    font-size: 2vh;
}

.description {
    padding: 1vh 1vw;
    text-align: center;
    margin: 0vw 0vw 2vw 0vw;
}

.description > h2 {
    margin: 0vw 0vw 1vw 0vw;
}

.container {
    max-width: 100%;
    /*max-width: 1340px;*/
    /*max-width: 90vw;*/
    /*position: relative;*/
    /*width: 100%;*/
    margin: 0 auto;
    overflow: auto;
}






.menu {
    padding: 1vw 10vw;
    display: none;
    user-select: none;
}

.windowSize_input {
    position: relative;
    top: 1vw;
    left: 1vw;
    height: 4vh;
    width: 20vh;
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
    outline: none;
    user-select: none;
    /*display: none;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.containerWidth_input {
    position: relative;
    top: 1vw;
    left: 1vw;
    height: 4vh;
    width: 4vh;
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
    outline: none;
    /*display: none;*/
}

.menu_button {
    border: solid .2vh var(--black);
    /*padding: 10px 10px 20px 40px;*/
    padding: 1vh 2vh 2vh 4vh;
    background: var(--green);
    position: absolute;
    right: 0;
    border-radius: 0vh 0vh 0vh 10vh;
    /*transform: translateX(2px) translateY(-2px);*/
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.menu_button_clicked {
    display: flex;
}

.menu_btn_clicked {
    background: var(--red);
}

.menu_button:hover {
    background: var(--red);
}

.logo {
    padding: 0px;
}

.menu_nav {
    width: 100%;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-list-item {
    padding: 2vh 4vw;
    margin: 1vh 1vw;
    border: solid .6vh var(--orange);
    border-radius: 10vh;
    background-color: var(--black);
    color: var(--orange);
    font-size: 2vh;
}

.menu-list-item:hover > a {
    color: var(--black);
}

.menu-list-item:hover {
    border: solid .6vh var(--orange);
    background-color: var(--orange);
}



/*.about_site {*/
/*    margin: 10vw 0vw 0vw 0vw;*/
/*}*/

.about_site-img {
    background: center/contain no-repeat url(/img/Сайт/reisen\ udongein\ inaba\,\ houraisan\ kaguya\,\ inaba\ tewi\,\ and\ yagokoro\ eirin\ \(touhou\)\ drawn\ by\ otomeza_ryuseigun\ -\ a02a75152ec750da61541414416c6bd2.jpg);
}











.blog {
    padding: 5vw 0vw 5vw 0vw;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 0px;
}
.blog-card {
    height: 80vh;
    width: 40vw;
    position: relative;
    margin-bottom: 4vh;
}

.blog-card:hover {
    border: solid 1px var(--black);
}

.blog-card-block:hover {
    color: var(--green);
}

.blog-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: flex-end;
}

.blog-card {
    display: flex;
    align-items: flex-end;
}

.blog-card-block {
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
}

.blog-card-title {
    user-select: none;
    font-size: 3vw;
    position: absolute;
    padding: 2vw 2vw;
}

.blog-card-low_opacity {
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.6;
}











/*.game_1 {*/
/*    padding: 50px 0px;*/
/*}*/

/*.game_block {*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    border: solid 2px var(--black);*/
/*    padding: 20px;*/
/*    position: relative;*/
/*    user-select: none;*/
/*}*/

/*.game_area {*/
/*    position: relative;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    border: solid 2px var(--orange);*/
/*    border-radius: 100px;*/
/*    background: white;*/
/*}*/

/*.skills_menu {*/
/*    position: absolute;*/
/*    !* height: 20%; *!*/
/*    width: 40%;*/
/*    border: solid 2px var(--orange);*/
/*    !*border-radius: 100px;*!*/
/*    right: 0%;*/
/*    bottom: 0%;*/
/*    !* z-index: -1; *!*/
/*    background: black;*/
/*    border-radius: 10px 10px 100px 10px;*/
/*    padding: 10px;*/
/*    !*font-size: 2em;*!*/
/*    color: var(--orange);*/
/*}*/

/*.skills_menu > div {*/
/*    cursor: pointer;*/
/*}*/

/*.skills_menu_open {*/
/*    !* height: 100%; *!*/
/*    top: 0%;*/
/*    border-radius: 10px 100px 100px 10px;*/
/*}*/

/*.skills_open {*/
/*    padding: 20px;*/
/*    border-radius: 10px 10px 100px 10px;*/
/*    display: flex;*/
/*    border: solid 2px var(--orange);*/
/*}*/

/*.skills_open_remove {*/
/*    display: none;*/
/*}*/

/*.skill_1 {*/
/*    display: none;*/
/*}*/

/*.skill_1_add {*/
/*    padding: 20px;*/
/*    !*border-radius: 10px;*!*/
/*    display: flex;*/
/*    border: solid 2px var(--orange);*/
/*    border-radius: 10px 100px 10px 10px;*/
/*    justify-content: space-around;*/
/*}*/

/*.skill_1_parameter {*/
/*    padding: 10px;*/
/*    !*border-radius: 10px;*!*/
/*    display: flex;*/
/*    border: solid 2px var(--orange);*/
/*    border-radius: 10px 10px 10px 10px;*/
/*}*/

/*.skills_close {*/
/*    display: none;*/
/*}*/

/*.skills_close_add {*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    display: flex;*/
/*    border: solid 2px var(--orange);*/
/*}*/

/*.click_block {*/
/*    width: 25%;*/
/*    height: 50%;*/
/*    position: absolute;*/
/*    border-radius: 100%;*/
/*    top: 25%;*/
/*    left: 10%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*}*/

/*.health {*/
/*    !*font-size: 48px;*!*/
/*}*/

/*.souls_block {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-end;*/
/*}*/

/*.souls {*/
/*    position: absolute;*/
/*    height: 120px;*/
/*    width: 120px;*/
/*    border: solid 2px var(--orange);*/
/*    !*border-radius: 100px;*!*/
/*    left: 0%;*/
/*    top: 0%;*/
/*    !* z-index: -1; *!*/
/*    background: black;*/
/*    border-radius: 100px 10px 10px 10px;*/
/*    padding: 40px;*/
/*    !*font-size: 2em;*!*/
/*    color: var(--orange);*/
/*    text-align: center;*/
/*}*/

/*.souls_tip {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 6%;*/
/*    left: 10%;*/
/*    color: var(--orange);*/
/*    !*font-size: 2em;*!*/
/*}*/

/*.souls_block:hover > .souls_tip {*/
/*    display: flex;*/
/*}*/

::-webkit-scrollbar { /* 1 - скроллбар */
    width: 0.4vw;
    /*background: url(/img/Сайт/Background.png) no-repeat center/cover;*/
    background: linear-gradient(var(--azure), var(--green), var(--yellow), var(--orange), var(--red), var(--black));
  }

  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 100px;
    background: var(--orange);
  }

  .schedule {
      width: 100%;
  }

  .schedule_title {
      text-align: center;
  }

  /*.schedule_description {*/
  /*  text-align: center;*/
  /*  !*font-size: 24px;*!*/
  /*}*/








  
  .game_2 {
      /*line-height: 0px;*/
      padding: 0vh 0vw;
      margin: 2vw 0vw;
  }







.ballistics {
    padding: 0vh 0vw;
    margin: 2vw 0vw;
}







@media (max-width: 640px) {
}


@media (max-width: 768px) {
    .blog-card {
        /*height: 10vh;*/
        width: 90vw;
    }
}


@media (max-width: 1024px) {
    /*.blog-card {*/
    /*    height: 60vh;*/
    /*    width: 60vw;*/
    /*}*/
}


@media (max-width: 1280px) {
    /*.blog-card {*/
    /*    height: 80vh;*/
    /*    width: 40vw;*/
    /*}*/
}


@media (max-width: 1536px) {
}




/*@media screen and (max-width: 600px) {*/

/*    h2 {*/
/*        font-size: 24px;*/
/*    }*/

/*    p {*/
/*        font-size: 24px;*/
/*    }*/

/*    .container {*/
/*        max-width: 600px;*/
/*        padding: 0px;*/
/*        margin: 0px;*/
/*    }*/

/*    .menu_button {*/
/*        right: 0px;*/
/*        border-radius: 0px 0px 0px 100px;*/
/*    }*/

/*    .game_block {*/
/*        width: 100%;*/
/*        height: 600px;*/
/*        border: solid 2px var(--black);*/
/*        margin-bottom: 100px;*/
/*        padding: 20px;*/
/*        position: relative;*/
/*    }*/

/*    .blog-card {*/
/*        width: 200px;*/
/*    }*/

/*    .skills_menu {*/
/*        font-size: 24px;*/
/*        height: 20%;*/
/*        width: 40%;*/
/*    }*/
/*}*/